
<h1>Guess Who</h1>

<a href="/"><button  class="quote">Random Quote</button></a>

<h2 name="{{currentQuote.id}}">{{currentQuote}}</h2>


<div class="image-grid">

  {{#each users}}
  <a href="/check/{{id}}/?quoteid={{../id}}">
    <img src="{{img}}" alt="{{name}}" name="{{id}}">
  </a>
  {{/each}}
</div>
