
<h1>Guess Who</h1>

{{!-- Put this under DOM --}}
{{!-- <h2>WRONG ANSWER! Try again?</h2> --}}
<button class="quote">Random Quote</button>

<h2 name="{{currentQuote.id}}">{{currentQuote}}</h2>

{{!-- loop through images --}}

{{!-- href="/right" to home route --}}
<div class="image-grid">

  {{#each users}}
  <a href="/check/{{id}}/?quoteid={{../id}}">
    <img src="{{img}}" alt="{{name}}" name="{{id}}">
  </a>
  {{/each}}
  
{{!-- <img src="/images/elizabeth.png" alt="" >
<img src="/images/jp.png" alt="">
</div>

<div class="image-grid">
<img src="/images/aaron.png" alt="">
<img src="/images/jeremy.png" alt=""> --}}
</div>
{{!-- <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
</ul> --}}
